.body_estilo_v1{
	background: #102f41;
	font-family: arial;
}
#Conte-pri{
  position: relative;
  overflow: hidden;
  top: 45px;
  min-width: 1045px;
  width: 1250px;
  height: 600px;
  background: url("../img/8.jpg");
  margin-right: auto;
  margin-left: auto;  
}
#comenta{
  transition-delay: 2s;
  transition-duration: 2s;
  height: 20px; 
  overflow: hidden;
}
#comenta:hover{
  position: relative;
  height: 150px;
  transition-delay: 2s;
  transition-duration: 2s;
}
#comenta:focus{
  position: relative;
  height: 150px;
  transition-delay: 2s;
  transition-duration: 2s;
}
#idI:hover{
  background: #345634;
}
#idI{
  color: #fff;
  width: 100px;
  border-width: 0px 5px 0px 0px;
  background: RGBA(0, 0, 0, 0.76);  border-right-color: #444; 
  text-align: left;
}
#id_I{
  color: #fff;
  width: 100px;
  border-width: 0px 5px 0px 0px;
  background: RGBA(0, 0, 0, 0.76);  border-right-color: greenyellow;
  text-align: left;  
}
#idI2:hover{
  background: RGBA(49, 114, 177, 0.8);
  border-color: #ffed25;
}
#idI2{
	/*
	color: #fff;
    width: 100px;
    border-width: 0px 0px 5px 0px;
    background: RGBA(0, 0, 0, 0);
    border-color: #444;
    text-align: left;
    height: 40px;
    font-size: 20px;
    width: 120px;
    top: 10px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
	    margin: 0px 6px;
    background: black;
    color: white;
    height: 50px;
    font-size: 15px;
}
#id_I2{
	margin: 0px 6px;
    background: #343434;
    color: white;
    height: 50px;
    font-size: 15px;
}
/*
#id{
  color: #fff;
  float: left;
  height: 45px;
  width: 100px;
  border-width: 0px 0px 5px;
  background: #000;
  border-bottom-color: green;
  margin: 0px 2px;
}
*/
#id_s{
  color: #fff;
  float: left;
  height: 45px;
  width: 100px;
  border-width: 0px 0px 5px;
  background: #000;
  border-bottom-color: greenyellow; 
  margin: 0px 2px;
}
#id_s:hover{
  border-bottom-color: brown;
}
	
#sub_login{
    position: fixed;
	top: 70px;
	right: 10px;
	width: 300px;
	height: 200px;
	background: #34374b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*
  .Medio{
    color: black;
    width: 100px;
    border-radius: 0px;
    border-width: 0px;
  }
  .Medio:hover{
    box-shadow: 0px 0px 1px 4px #FFF9;
  }
  .Medio:focus{
    box-shadow: 0px 0px 1px 4px #208099;
  }
*/
#ini_login{
    position: absolute;
	background: #3b75b0;
    top: 15px;
	right: 10px;
    width: 80px;
    height: 35px;
}
#user_login{
    position: absolute;
	background: #3b75b0;
    left: 80px;
    top: 15px;
    width: 120px;
    height: 35px;
}
#img_login{
    position: absolute;
    width: 60px;
    left: 10px;
    box-shadow: 0px 0px 1px black;
}
#menu1{
	width: 		100%;
    height: 	70px;
    background: #102f41;
    position: 	fixed;
    top: 		0px;
    left: 		0px;
}
#menu4{
	position: 	absolute;
    bottom:		0px;
    left: 		130px;
    right: 		0px;
    height: 	70px;
    background: #102f41;

}
#login{
	position: 	absolute;
	top: 		0px;
	height: 	70px;
	right: 		10px;
	width: 		350px;
	background: #102f41;
	box-shadow: 0px 1px 1px 1px white;
}
#logo{
	position: 	absolute;
    top: 		0px;
    left: 		0px;
    height: 	70px;
    width: 		120px;
    background: #102f41;
    box-shadow: 0px 1px 1px 1px white;

}
.error{
  color: black;
  width: 100px;
  border-radius: 0px;
  border-width: 0px;
  background: #0b9df9;
}
#win_prueba{
	width: 200px; height: 150px; background: rgba(5, 72, 108, 0.67); position: relative;
}
#noselet{
	color: black;
    width: 100px;
    border-radius: 0px;
    border-width: 0px;
	background: white;
}
#selet{
	color: white;
    width: 100px;
    border-radius: 0px;
    border-width: 0px;
	background: black;
}
#menu{	
    position: absolute;
    background: black;
    min-width: 800px;
    height: 50px;
    right: 252px;
}
.actuador{
	
}
.actuador:hover{
	box-shadow: 0px 0px 11px blue;
}
.actuador:active{
	box-shadow: 0px 0px 11px white;
}
.Consola2_mini{	
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 105px;
    height: 350px;
    background: #05486c;
    overflow: hidden;
	z-index: 1;
    transition: 2s;
}
.Consola2{	
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 605px;
    height: 350px;
    background: #05486c;
	z-index: 1;
    transition: 2s;
    
}